body {
    font-family: Arial;
    background-color: crimson;
    color: #fff;
    min-height: 100%;
    margin: 0px
}

h1:hover {
    background-color: #fff;
    color: crimson;
    text-align: center;
}

footer {
    position: absolute;
    width: 100%; 
    bottom: 0; 
    
}
footer p {
    margin: 1em; 
    text-align: right;
}
